/* Coolors Exported Palette - coolors.co/82d173-abfaa9-95a3b3-4c2c69-42253b */

/* HSL */
$color1: hsla(110%, 51%, 64%, 1);
$color2: hsla(119%, 89%, 82%, 1);
$color3: hsla(212%, 16%, 64%, 1);
$color4: hsla(271%, 41%, 29%, 1);
$color5: hsla(314%, 28%, 20%, 1);

/* RGB */
$color1: rgba(130, 209, 115, 1);
$color2: rgba(171, 250, 169, 1);
$color3: rgba(149, 163, 179, 1);
$color4: rgba(76, 44, 105, 1);
$color5: rgba(66, 37, 59, 1);